<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="style/style.css"/>
</head>

<body class="container">


        <div class="maintxt">
            <h1>The Bloggest of Blogs</h1>
        </div> 
    