<% include ./partials/navbar%>

<head id = "maintxt">
    <link rel="stylesheet" type="text/css" href="style/style.css"/>
</head>

<div class="containerrow">
    <h1>Hey you,</h1>
</div>

<% include ./partials/footer%>

<div class= "fun">
        <a href="/createpost">Post a post</a>
        <a href="/myposts">My posts</a>
        <a href="/allposts">All posts</a>
</div>

