<% include ./partials/header%>
<% include ./partials/navbar%>

    <div class="logform">
        <form action="/login" method="post">
            <div>
                <label>Name:</label>
                <input id = "name" type="text" name="name" />
            </div>
            <div>
                <label>Pass:</label>
                <input type="password" name="pass" />
            </div>
            <div>
                <input class="btn" type="submit" value="Log In" />
            </div>
        </form>
    </div>

<% include ./partials/footer%>